<!DOCTYPE html>
<html lang="en">
<!-- Default form login -->
<form class="text-center border border-light p-5" method="POST">

	<h1>Log in</h1>
	{% csrf_token %}
	<form method="POST">
		{% csrf_token %}
		{{ login_form }} <br>
		<br>
		<button class="btn btn-primary" type="submit">Login</button>
	</form>
	<!-- Register -->
	<p>Not a member?
		<a href="{% url 'signup' %}">Register</a>
	</p>
	{% if messages %}
    <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
    {% endif %}</form>
<!-- Default form login -->

</body>

</html>